
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}


.card {
    position: relative;
    background-color: #edf3f6;
    border-radius: 5px;
    padding: 20px 15px 15px 15px;
    font-size: 14px;
    width: 500px; 
}


.nota {
    position: absolute;
    top: -12px;
    left: 15px;
    display: flex;
    align-items: center;
    background-color: #1d72b8;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
}


.nota svg {
    margin-right: 5px;
}


.texto {
    color: #333;
    line-height: 1.5;
}


.texto code {
    background-color: #d9e3e8;
    padding: 1px 4px;
    border-radius: 3px;
    color: #333;
    font-size: 13px;
}
